img{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 0;
}
.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.retangulo-laranja {
    position: absolute;
    justify-items: center;
    top: 8%;
    width: 90%;
    height: fit-content;
    background-color: rgba(255, 165, 0, 0.5);
    z-index: 1;
    border-radius: 50px;
    backdrop-filter: blur(5px);
}

.post-it {
    position: relative;
    z-index: 2;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.containerCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 5%;
    justify-items: center;
    padding-top: 300px;
}

.card{
    width: 190px;
    height: 120px;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
    margin: 5px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 1;
    font-family: 'Luckiest Guy', sans-serif;
    transition-duration: 300ms;
}

.card:hover{

    transform: scale(1.1);
}

.card img {
    position: static;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.card p {
    margin-top: 10px;
}

.retangulo {
    position: absolute;
    top: 720px;
    left: 1200px;
    width: 350px;
    height: 280px;
    background-color: rgba(255, 165, 0, 0.5);
    z-index: 1;
    backdrop-filter: blur(5px);
}

.texto {
    position: absolute;
    top: 720px;
    left: 1200px;
    color: black;
    z-index: 2;
    font-family: '', sans-serif;
    font-size: 25px;
}
.carrossel {
    width: 200px;
    overflow: hidden;
}

.slide {
    width: 100%;
    float: left;
}

.slide:not(:first-child) {
    margin-left: -100;
}